.container {
  h1 {
    text-align: center;
  }

  .tracksGrid {
    margin: 0 10% 20px 10%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 175px));
    grid-auto-rows: 250px;
    grid-gap: 35px;

    .trackItem {
      display: flex;
      flex-direction: column;

      .title {
        cursor: pointer;
        margin-bottom: 5px;
        height: 43px;
        overflow: hidden;

        p {
          font-weight: 700;
        }
      }

      a {
        display: block;
        margin: auto;
        width: fit-content;
      }
    }
  }
}