.ant-spin {
    position: fixed !important;
    height: 100vh;
    max-height: 100vh !important;
}

.ant-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px !important;
}

#search {
    display: block;
    margin: 0 auto;
}