.ant-spin {
    position: fixed !important;
    height: 100vh;
    max-height: 100vh !important;
}

.ant-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px !important;
}